.footerContainer{
    display: flex;
    flex-direction: column;
    height: 35vw;
    padding: 7.22vw 11.11vw 7.22vw 11.11vw;
    gap: 1.66vw;
    background-color: black;
}
.info{
    width: 77.77vw;
    height: 17.77vw;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}
.socialIcons{
    width: 12.01388vw;
    height: 1.11vw;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}
.logo-text{
    width: 26.66vw;
    height: 6.5625vw;
    gap: 1.66vw;
    display: flex;
    /* background-color: blue; */
    flex-direction: column;
}
.infoLogo{
    width: 4.54166vw;
    height: 1.59722vw;
    gap: 10px;
    display: flex;
}
.infoText{
    font-family: 'SFProDisplay', sans-serif;
    font-size: 0.972vw;
    font-weight: 500;
    line-height: 1.66vw;
    text-align: left;
    width: 26.66vw;
    height: 3.33vw;
    color: rgba(207, 207, 207, 1);
}
.footerNav{
    width: 43.2638vw;
    height: 17.77vw;
    justify-content: space-between;
    display: flex;
    /* background-color: burlywood; */
}
.footerSection1{
    width: 20.52083vw;
    height: 17.77vw;
    gap: 0.55vw;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}
.titleSpan{
    font-family: 'SFProDisplay', sans-serif;
    font-size: 1.11vw;
    font-weight: 600;
    line-height: 1.11vw;
    text-align: left;
    width: 4.3055vw;
    height: 1.11vw;
    color: rgba(255, 255, 255, 1);
}
.titleSpan{
    width: 12vw;
}
.optionsSpan{
    font-family: 'SFProDisplay', sans-serif;
    font-size: 0.9722vw;
    font-weight: 400;
    line-height: 2.22vw;
    text-align: left;
    width:20.520833vw;
    height: 2.22vw;
    color: rgba(207, 207, 207, 1);
}
.footerImages{
    width: 1.11vw;
    height: 1.11vw;
}

