.stepBtn{
    width: 14.375vw;
    height: 4.44vw;
    border-radius: 6px;
    border: 1px solid ;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1.11vw;
    font-weight: 500;
    line-height: 1.11vw;
    text-align: center;
}
.stepBtn:hover{
    scale:1.03;
}